/* Place CSS styles here */


body {
    min-height: 100vh;
    background-color: #148888;

}



/* WELCOME TO TEXT */

h1{
    font-family: "Playwrite DE LA", cursive;
    text-align: center;
}

h2 {
    font-family: "Fascinate", system-ui;
    text-align: center;
    color: #eb874a;
    text-shadow: 10px 10px rgb(250, 37, 98);
    font-size: 18vw;
    margin: 0;

}
/* TRANSITION TRIAL */

.map-image {
    height: 300px;
    margin: 75px;
    transition: 1s ease-in-out;
}

.map-image:hover {
    transform: rotate(45deg); 
    transform-origin: 0 0;
}


/* ERASER TRIAL */

.wrapper {
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}


#stamps {
    position: absolute;
    padding: 100px;
    height: 800px;
    width: auto;
    max-width: 100%;
    z-index: 0;

   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;

}

#scratch-me {
    position: absolute;
    height: 164px;
    width: 194px;
    top: 135px;
    left: 735px;
    z-index: 1;
    
   user-select: none;
   -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

.ball {
    background-color: rgb(177, 123, 228);
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.ground {
    background-color: rgb(255, 0, 132);
    height: 300px
}

/* HERE STARTS MY WORK ON PROJECT 3 */

.card {
    background-color: #fefee6;
    padding-bottom:50%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 12%;
    position: relative;
}

/* STAMP DIMENSIONS */

.stamps {
    margin: 2%; 
    position: absolute;
}

.ponte {
    width: 30%;
}

.uffizi {
    width: 18%;
    left: 33%

}

.wine {
    width: 20%;
    left: 54%;
}

.coffee {
    width: 12%;
    left: 80%;
}

.gelato {
    width: 12%;
    left: 80%;
    top: 25%;
}

.vespa {
    width: 30%;
    top: 58%;
}

.david {
    width: 18%;
    top: 30%;
    left: 34%
}

.duomo {
    width: 35%;
    top: 50%;
    left: 55%;
}

