/* Place CSS styles here */


body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* SKY BACKGROUND */

.sky {
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 40px;
    height: 130vw;
    width: 80%;
    background-color: #ddecff;
    border-radius: 5%;
    position: absolute;
    z-index: -1;
}

@media (max-width: 768px) {
    .sky {
        margin: 5%;
        margin-bottom: 40px;
        width: 90%;
        height: 180vh;
    }
}

/* TEXT */
h1{
    font-family: "Great Vibes";
    text-align: center;
    font-size: 14vw;
    margin-top: 0;
    margin-bottom: -8%;
    padding-top: 11rem;
    color:#ff7018;
    animation: 6s appear ease-in;
}

h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
    color: #ffb2df;
    text-shadow: 8px 4px #ff7018;
    font-size: 18vw;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0;
    margin-bottom: 0;
    animation: 4s appear ease-in;
}

h3 {
    font-family: "Great Vibes";
    text-align: center;
    font-size: 14vw;
    margin-top: -3%;
    margin-bottom: 0;
    color: #ff7018;
    animation: 6s appear ease-in;
}

p {
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2vw;
    color: #b74701
}

@media (max-width: 768px) {
    h1{
        font-size: 18vw;
        margin-top: 0;
        padding-top: 50%;
     }

     h2 {
        font-size: 20vw;

    }
    
    h3 {
        font-size: 18vw;
        margin-top: -3%;
        padding-bottom: 30%;
    }
    p {
        margin-top: 12rem;
}
}



/* SUN AND CLOUDS */
.sun-center {
    position: absolute;
    width: 40%;
    height: auto;
    max-width: 100%;
    z-index: -1;
    top: -1%;
    left: -5%;
}

.sun-rays {
    position: absolute;
    width: 40%;
    height: auto;
    max-width: 100%;
    z-index: -1;
    top: -1%;
    left: -5%;

    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

.cloud-group {
    overflow: hidden;
}

.cloud-1 {
    position: absolute;
    width: 30%;
    height: auto;
    max-width: 100%;
    z-index: -1;
    top: 2%;
    left: 62%;
    animation: 20s move infinite linear;
}

.cloud-2 {
    position: absolute;
    width: 20%;
    height: auto;
    max-width: 100%;
    z-index: -1;
    top: 55%;
    left: 10%;
    animation: 30s move infinite linear;
}

.cloud-3 {
    position: absolute;
    width: 25%;
    height: auto;
    max-width: 100%;
    z-index: -1;
    top: 75%;
    left: 57%;
    animation: 15s move infinite linear;
}

/* ANIMATIONS AND TRANSITIONS */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes move {
    from {
        left: 0;
        transform: translateX(-100%);
    }
    to {
        left: 100%;
        transform: translateX(0%);
    }

}

@keyframes appear {
    0% {
        opacity: 0;
        
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }

}




/* BACKGROUND CARD */

.card {
    background-color: #ffffff;
    padding-bottom:50%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 30px;
    position: relative;
    padding-top: 2%;
    padding-left: 4%;
    box-shadow: 0 0 20px 3px rgb(105 67 37 / 66%);
}

@media (max-width: 768px) {
    .card {
        height: 60vw;
    }
}

/* STAMP DIMENSIONS */

.stamps {
    margin: 2%; 
    position: absolute;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.ponte {
    width: 30%;
}

.uffizi {
    width: 17%;
    left: 38%

}

.wine {
    width: 18%;
    left: 58%;
}

.coffee {
    width: 11%;
    left: 80%;
}

.gelato {
    width: 11%;
    left: 80%;
    top: 26%;
}

.vespa {
    width: 30%;
    top: 58%;
}

.david {
    width: 16%;
    top: 34%;
    left: 38%
}

.duomo {
    width: 33%;
    top: 50%;
    left: 58%;
}

@media (max-width: 768px) {
    .ponte {
        width: 50%;
        left: 38%;
    }
    
    .uffizi {
        width: 30%;
        left: 58%;
        top: 40%
    }
    
    .wine {
        width: 30%;
        left: 58%;
        top: 65%;
    }
    
    .coffee {
        width: 16%;
        left: 31%;
        top: 61%;
    }
    
    .gelato {
        width: 16%;
        left: 6%;
        top: 61%;
    }
    
    .vespa {
        width: 50%;
        top: 40%;
    }
    
    .david {
        width: 27%;
        top: 1%;
        left: 6%
    }
    
    .duomo {
        width: 45%;
        top: 76%;
        left: 5%;
    }
}
